{% extends "../base.html" %}

{% block header %}
  {{super()}}

  <!-- {{ mojPrimaryNavigation({
    items: [
      {
        text: 'Pages',
        href: getUrl('/pages'),
        active: pageId == 'pages'
      },
      {
        text: 'Components',
        href: getUrl('/components'),
        active: pageId == 'components'
      },
      {
        text: 'Content',
        href: getUrl('/strings'),
        active: pageId == 'strings'
      },
      {
        text: 'Settings',
        href: getUrl('/settings'),
        active: pageId == 'settings'
      }
    ]
  }) }} -->

  <div class="moj-primary-navigation">

    <div class="moj-primary-navigation__container">

      <div class="moj-primary-navigation__identity">
        <span class="moj-primary-navigation__identity-title">Complaints form</span>
      </div>

      <div class="moj-primary-navigation__nav">

        <nav class="moj-primary-navigationn" aria-label="Primary navigation">

          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="{{getUrl('/pages')}}">Summary</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" aria-current="page" href="{{getUrl('/pages')}}">Pages</a>
            </li>

            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="{{getUrl('/components')}}">Components</a>
            </li>

            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="#3">Content</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" href="#3">Settings</a>
            </li>
          </ul>

        </nav>

      </div>
    </div>

    </div>
{% endblock %}