{% extends "./layout.html" %}

{% set pageId = 'summary' %}

{% block content %}

  <h1 class="govuk-heading-xl">Summary</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Pages</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: '<a href="#">Start page</a>'
            }
          },
          {
            key: {
              html: '<a href="'+getUrl('/1/pages/1/show')+'">Your email address</a>'
            }
          },
          {
            key: {
              html: '<a href="#">Your name</a>'
            }
          },
          {
            key: {
              html: '<a href="'+getUrl('/1/pages/2/show')+'">Your complaint</a>'
            }
          },
          {
            key: {
              html: '<a href="#">Your address</a>'
            }
          },
          {
            key: {
              html: '<a href="#">Check answers</a>'
            }
          },
          {
            key: {
              html: '<a href="#">Confirmation page</a>'
            }
          }
        ]
      }) }}

      <p class="govuk-body"><a href="#">Add new page</a></p>

    </div>
    <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-l">Status</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Preview"
              },
              value: {
                html: mojBadge({ text: 'Running', classes: 'moj-badge--green'})
              }
            },
            {
              key: {
                text: "Test"
              },
              value: {
                html: mojBadge({ text: 'Down', classes: 'moj-badge--red'})
              }
            },
            {
              key: {
                text: "Live"
              },
              value: {
                html: mojBadge({ text: 'Publishing'})
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-l">Access</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Owner"
              },
              value: {
                html: "Adam Silver"
              }
            },
            {
              key: {
                text: "Member"
              },
              value: {
                html: "Phil Cogger"
              }
            }
          ]
        }) }}

        <p class="govuk-body"><a href="#">Invite new member</a></p>


    </div>
  </div>

{% endblock %}