{% extends "../layout.html" %}

{% set pageId = 'pages' %}

{% block content %}

  {{ mojPageHeaderActions({
    heading: {
      html: '<h1 class="govuk-heading-xl">Pages</h1>'
    },
    items: [{
      text: 'Create page'
    }]
  }) }}

  <div class="moj-action-bar">

    {{ mojButtonMenu({
      items: [{
        text: 'Reorder',
        classes: 'govuk-button--secondary'
      }]
    }) }}

    <div class="govuk-!-font-size-19 govuk-!-margin-top-2" style="float: right; font-family: GDS Transport">
      <span>List</span> / <a href="{{getUrl('pages/flow')}}">Flow</a>
    </div>

  </div>


  <div class="app-form-item app-form-item--first">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{getUrl('/2/pages/show')}}">Start page</a></h2>
    <p class="govuk-body-s">/</p>
  </div>
  <div class="app-form-item">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{getUrl('/2/pages/show')}}">Your name</a></h2>
    <p class="govuk-body-s">/name</p>
  </div>
  <div class="app-form-item">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{getUrl('/2/pages/show')}}">Your email</a></h2>
    <p class="govuk-body-s">/email-address</p>
  </div>
  <div class="app-form-item">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{getUrl('/2/pages/show')}}">Your complaint</a></h2>
    <p class="govuk-body-s">/your-complaint</p>
  </div>
  <div class="app-form-item">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{getUrl('/2/pages/show')}}">Would you like to provide documents to support your complaint?</a></h2>
    <p class="govuk-body-s">/name</p>
  </div>
  <div class="app-form-item">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{getUrl('/2/pages/show')}}">Check answers</a></h2>
    <p class="govuk-body-s">/check-answers</p>
  </div>
  <div class="app-form-item">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a href="{{getUrl('/2/pages/show')}}">Confirmation page</a></h2>
    <p class="govuk-body-s">/confirmation</p>
  </div>

{% endblock %}