{% extends "../base.html" %}

{% block header %}

  {% set serviceLabelHtml %}
    <!-- <a href="#" class="app-preview-link">Preview</a> -->
  {% endset %}

  {{ mojHeader({
    organisationName: {
      href: '/v1'
    },
    organisationLabel: {
      text: 'Ministry of Justice',
      href: '/v1'
    },
    serviceLabel: {
      html: 'Form Builder Editor: HMCTS complaints form' + serviceLabelHtml
    },
    navigation: {
      label: 'Account navigation',
      items: [{
          text: 'Sign out',
          href: '#'
        }
      ]
    }
  }) }}

  {% set searchHtml %}
    {{govukButton({
      text: 'Preview',
      classes: 'govuk-!-margin-bottom-0 app-form-preview-button'
    })}}
  {% endset %}

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Pages',
        href: '/v1/pages',
        active: pageId == 'pages'
      },
      {
        text: 'Components',
        href: '/v1/pages',
        active: pageId == 'components'
      },
      {
        text: 'Settings',
        href: '/v1',
        active: pageId == 'settings'
      },
      {
        text: 'Error pages',
        href: '/v1/pages',
        active: pageId == 'error-pages'
      },
      {
        text: 'Strings',
        href: '/v1/pages',
        active: pageId == 'strings'
      }
    ]
  }) }}
{% endblock %}