{% extends "./layout.html" %}

{% set pageId = 'summary' %}

{% block content %}

  <h1 class="govuk-heading-xl">Summary</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Pages</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: '<a href="'+getUrl('/2/pages/show')+'">Start page</a>'
            }
          },
          {
            key: {
              html: '<a href="'+getUrl('/2/pages/show')+'">Your email address</a>'
            }
          },
          {
            key: {
              html: '<a href="'+getUrl('/2/pages/show')+'">Your name</a>'
            }
          },
          {
            key: {
              html: '<a href="'+getUrl('/2/pages/show')+'">Your complaint</a>'
            }
          },
          {
            key: {
              html: '<a href="'+getUrl('/2/pages/show')+'">Your address</a>'
            }
          },
          {
            key: {
              html: '<a href="'+getUrl('/2/pages/show')+'">Check answers</a>'
            }
          },
          {
            key: {
              html: '<a href="'+getUrl('/2/pages/show')+'">Confirmation page</a>'
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">Settings</h2>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: "HMCTS complaints form"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Github repo"
              },
              value: {
                text: "https://github.com/ministryofjustice/cica-same-roof-contact.git"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            }
          ]
        }) }}

        <p class="govuk-body"><a href="#">Browse settings</a></p>
    </div>
    <div class="govuk-grid-column-one-third">



        <h2 class="govuk-heading-l">Status</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Preview"
              },
              value: {
                html: mojBadge({ text: 'Running', classes: 'moj-badge--green'})
              }
            },
            {
              key: {
                text: "Test"
              },
              value: {
                html: mojBadge({ text: 'Down', classes: 'moj-badge--red'})
              }
            },
            {
              key: {
                text: "Live"
              },
              value: {
                html: mojBadge({ text: 'Publishing'})
              }
            }
          ]
        }) }}

      <!-- Status<br>
      <br><br>

      Config params (add edit delete) for each environment

      <br><br>

      Teams that have permission to change deployment related things

      <br><br>

      Deployments (env, commit sha, time of completion, status, history DEPLOY UN DEPLOY) -->

    </div>
  </div>

{% endblock %}