{% extends "../base.html" %}

{% block header %}
  {{super()}}

  <div class="moj-primary-navigation">

    <div class="moj-primary-navigation__container">

      <div class="moj-primary-navigation__identity">
        <span class="moj-primary-navigation__identity-title">HMCTS Complaints form &nbsp;{{mojBadge({ text: "Draft" })}}</span>
      </div>

      <div class="moj-primary-navigation__nav">

        <nav class="moj-primary-navigationn" aria-label="Primary navigation">

          <ul class="moj-primary-navigation__list">
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" {% if pageId == 'summary' %} aria-current="page" {% endif %} href="{{getUrl('/2')}}">Summary</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" {% if pageId == 'pages' %} aria-current="page" {% endif %} href="{{getUrl('/2/pages')}}">Pages</a>
            </li>

            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" {% if pageId == 'components' %} aria-current="page" {% endif %} href="{{getUrl('/2/components')}}">Components</a>
            </li>

            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" {% if pageId == 'content' %} aria-current="page" {% endif %} href="#3">Content</a>
            </li>
            <li class="moj-primary-navigation__item">
              <a class="moj-primary-navigation__link" {% if pageId == 'settings' %} aria-current="page" {% endif %} href="#3">Settings</a>
            </li>
            <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" {% if pageId == 'settings' %} aria-current="page" {% endif %} href="#3">Deployment</a>
              </li>
          </ul>

        </nav>

      </div>
    </div>

    </div>
{% endblock %}