{{ mojSubNavigation({
  label: 'Sub navigation',
  items: [
    {
      text: 'Pages',
      href: getUrl('/pages'),
      active: pageId == 'pages'
    },
    {
      text: 'Components',
      href: getUrl('/components'),
      active: pageId == 'components'
    },
    {
      text: 'Settings',
      href: getUrl('/settings'),
      active: pageId == 'settings'
    },
    {
      text: 'Error pages',
      href: getUrl('/error-pages'),
      active: pageId == 'error-pages'
    },
    {
      text: 'Strings',
      href: getUrl('/strings'),
      active: pageId == 'strings'
    }
  ]
}) }}