{% extends "../layout.html" %}

{% set pageId = 'edit' %}

{% block beforeContent %}
  {{govukBackLink({
    href: getUrl('/1/pages/show')
  }) }}
{% endblock %}

{% block content %}

  <!-- {{ mojPageHeaderActions({
    heading: {
      html: '<h1 class="govuk-heading-xl">Edit radio buttons</h1>'
    }
  }) }} -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Edit question</h1>

      {{ govukInput({
        label: {
          text: "Field name",
          classes: 'govuk-label--m'
        },
        hint: {
          text: "Set to a friendly name like ‘name-of-field’ which you can reference: [%name-of-field%]."
        },
        id: "field-name",
        name: "field-name",
        value: "complaint-description"
      }) }}

      {{ govukInput({
        label: {
          text: "Label text",
          classes: 'govuk-label--m'
        },
        hint: {
          text: "This is the question label"
        },
        id: "label",
        name: "label",
        value: "Complaint description"
      }) }}

      {{ govukInput({
        label: {
          text: "Hint text (optional)",
          classes: 'govuk-label--m'
        },
        hint: {
          text: "Displayed underneath the label"
        },
        id: "hint",
        name: "hint",
        value: ""
      }) }}

      {{ govukInput({
        label: {
          text: "Check answers label (optional)",
          classes: 'govuk-label--m'
        },
        hint: {
          text: "This is how the legend will be displayed on the check answers page"
        },
        id: "summary-hint",
        name: "summary-hint"
      }) }}

      {{ govukInput({
        label: {
          text: "Label classes",
          classes: 'govuk-label--m'
        },
        hint: {
          text: "HTML classes that go on the label. Leave a space between each one."
        },
        id: "lab-cellasses",
        name: "lab-classes",
        value: "govuk-label--m"
      }) }}

      {{ govukButton({ text: 'Save' }) }}

      <form>
        {% set yesHtml %}
          {{ govukInput({
            id: "error-message",
            name: "error-message",
            type: "text",
            label: {
              text: "Error message"
            },
            value: "Enter complaint description"
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "required",
          name: "required",
          fieldset: {
            legend: {
              text: "Is this question required?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "no",
              text: "No",
              checked: true
            }
          ]
        }) }}
        {{ govukButton({ text: 'Save' }) }}
      </form>

      <h2 class="govuk-heading-l">Additional validation rules</h2>
      <p class="govuk-body">No additional rules.</p>
      {{govukButton({ text: 'Add rule' })}}

      <form>
          {% set repeatableYesHtml %}
            {{ govukInput({
              id: "min",
              name: "min",
              type: "text",
              label: {
                text: "Minimum"
              },
              classes: "govuk-input--width-10",
              value: "1"
            }) }}
            {{ govukInput({
              id: "min",
              name: "min",
              type: "text",
              label: {
                text: "Maximum"
              },
              classes: "govuk-input--width-10",
              value: "1"
            }) }}
          {% endset -%}

          {{ govukRadios({
            idPrefix: "repeatable",
            name: "repeatable",
            fieldset: {
              legend: {
                text: "Is this question repeatable?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                conditional: {
                  html: repeatableYesHtml
                }
              },
              {
                value: "no",
                text: "No",
                checked: true
              }
            ]
          }) }}
          {{ govukButton({ text: 'Save' }) }}
        </form>

        <form>
            {% set conditionalYesHtml %}
              Options for this
            {% endset -%}

            {{ govukRadios({
              idPrefix: "conditional",
              name: "conditional",
              fieldset: {
                legend: {
                  text: "Is this question conditionally displayed?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  conditional: {
                    html: conditionalYesHtml
                  }
                },
                {
                  value: "no",
                  text: "No",
                  checked: true
                }
              ]
            }) }}
            {{ govukButton({ text: 'Save' }) }}
          </form>


    </div>
  </div>

{% endblock %}

