{% set headingLevel = 2 %}
{% if params.level %}
  {% set headingLevel = params.level %}
{% endif %}

<div class="app-hypothesis">
  <h{{level}} class="govuk-heading-m">{{params.title}}</h{{level}}>

  <p class="govuk-body"><strong>Context</strong><br>{{params.context}}</p>

  <p class="govuk-body">
    <strong>If</strong> {{params.if}}<br>
    <strong>Then</strong> {{params.then}}<br>
    {% if params.because %}
      <strong>Because</strong> {{params.because}}
    {% endif %}
  </p>

  {% if params.measurements %}
    <p class="govuk-body">We’ll know this works/is true when:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for measurement in params.measurements %}
        <li>{{measurement}}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>