{% set headingLevel = 2 %}
{% if params.level %}
  {% set headingLevel = params.level %}
{% endif %}

<div class="app-hypothesis">
  <h{{headingLevel}} class="govuk-heading-m">{{params.title}}</h{{headingLevel}}>

  <p class="govuk-body">{{params.context}}</p>

  <p class="govuk-body">
    <b>If</b> {{params.if}}<br>
    <b>Then</b> {{params.then}}<br>
    {% if params.because %}
      <b>Because</b> {{params.because}}
    {% endif %}
  </p>

  {% if params.measurements %}
    <p class="govuk-body"><b>We’ll know this works when:</b></p>
    <ul class="govuk-list govuk-list--bullet">
      {% for measurement in params.measurements %}
        <li>{{measurement}}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
