
{% extends "layout.html" %}

{% block pageTitle %}
  Form Builder prototype
{% endblock %}

{% from "hypothesis/macro.njk" import appHypothesis %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Form Builder prototype
      </h1>

      <p class="govuk-body">The Form Builder platform lets you create and publish digital forms using the GOV.UK Design System without a dev team.</p>
      <p class="govuk-body">This prototype aims to address the main issues from the road map workshop on 30 July 2019.</p>

      <h2 class="govuk-heading-l">Overarching hypotheses</h2>

      <p class="govuk-body">The following hypotheses explain the primary reasons to redesign and improve Form Builder.</p>

      {% set mainHypothesesHtml %}

        {{ appHypothesis({
          title: "1: use the design system",
          context: "The Form Builder platform was originally made for developers. It was created rapidly before the creation of the MOJ Design System. As a result many parts of the platform UI are confusing and inconsistent with the GOV.UK Design System and MOJ Design System.",
          if: "we use the GOV.UK and MOJ Design System",
          then: "users will find it easier to use and more accessible",
          because: "the GOV.UK and MOJ Design System contains usable and accessible components that don\'t need to be made from scratch"
        }) }}

        {{ appHypothesis({
          title: "2: expose hidden features",
          context: "The Form Builder platform was originally made for developers to create forms by editing JSON. Users just needed to know the API. The product's mission changed to include non-developers too. This meant exposing some of the functionality as part of the interface. But lots of the functionality remains only possible via JSON configuration which is hard to use and error prone. This has resulted in the Form Builder platform team supporting users in the creation process.",
          if: "we expose all functionality in the interface",
          then: "users will be able to make forms quickly and without support from the Form Builder team",
          measurements: ["the Form Builder team no longer have to assist publishers in creating forms"]
        }) }}

        {{ appHypothesis({
          title: "3: 1 application",
          context: "The Form Builder platform is made up of several applications which users have to jump between to create the form. The Console lets users create forms. The Editor lets users create pages using the GOV.UK Design System components. The Publisher lets users publish the form. This is not simple to use and means users have to remember what application does what, and how to access each application.",
          if: "we combine the Console, Editor and Publisher into 1 application",
          then: "users will find the application much simpler to operate without having to think about which application they need to access based on what task they're trying to do.",
          measurements: ["users can access Form Builder’s functionality using 1 application"]
        }) }}

        {{ appHypothesis({
          title: "4: web-based application",
          context: "Before users can set up a form, they need to download software onto their computer. It's long winded, error prone, requires support from the platform team, doesn't work on all computers and ultimately fails the service standard: ‘make sure everyone can use the service’ and ‘make the service simple to use’. It's also inconsistent with other platforms like GOV.UK Pay.",
          if: "we make the Console and Editor web based",
          then: "the platform will be much more accessible, easier to use and not require support",
          measurements: ["users don't have to download anything in order to make new forms or edit existing ones"]
        }) }}

        {{ appHypothesis({
          title: "5: analytics",
          context: "Currently forms can be set up to use Google Analytics (GA). But GA doesn't make it easy to see important metrics that are useful to know across all forms like percentage of users who submit the form, or completion times.",
          if: "we show common metrics in Form Builder",
          then: "it will be easier for authors to improve their service based on data",
          measurements: ["authors are able to see useful metrics on their form inside Form Builder"]
        }) }}
      {% endset %}

      {{ govukDetails({
        summaryText: "Hypotheses",
        html: mainHypothesesHtml
      }) }}

      <h2 class="govuk-heading-l">Iteration 4</h2>
      <p class="govuk-body">Simpler handling of display rules.</p>

      {% set hypothesesFourHtml %}
        {{ appHypothesis({
          title: "Visibility rules",
          context: "Currently, the ability to set visibility on a page/component is set explicitly before adding rules that govern it's display. This is long winded and unnecessary.",
          if: "we let users set 0 or many rules",
          then: "users will find it easier to understand and create visibility rules."
        }) }}
      {% endset %}

      {{ govukDetails({
        summaryText: "Hypotheses",
        html: hypothesesFourHtml
      }) }}

      {{govukButton({ text: 'Open iteration 4', href: '/v4'})}}

      <h2 class="govuk-heading-l">Iteration 3</h2>
      <p class="govuk-body">More consistent handling of page/component properties. Added single question page type.</p>

      {% set hypothesesThreeHtml %}
        {{ appHypothesis({
          title: "Page and component props",
          context: "The previous iteration displays related meta data (like repeatability) below the main attributes of the component. This created multiple forms and primary actions on the page and made it difficult to work with when some of meta data requires entire flows to configure it like conditional visibility. It was also inconsistent with the way we display meta data at the page level.",
          if: "we use the same right hand ‘page properties’ on the component screen",
          then: "the same things will be displayed consistently which will improve cognition and let users easily configure multi-step features like conditional display."
        }) }}

        {{ appHypothesis({
          title: "Remove edit JSON",
          context: "This prototoype is a vision of what we want FB to be. This link is a hangover from the exisitng form builder which is aimed at developers. See main hypothesis 2 for more information.",
          if: "we remove this backdoor",
          then: "the interface will have to do the hardwork so users don't have to and we don't have an oddly labelled action."
        }) }}

        {{ appHypothesis({
          title: "Steps enabled for all pages",
          context: "Currently, the form builder lets users enable steps on a page by page basis. Users have to open a page, then enable steps which feels unnecessary",
          if: "we enable steps on all pages by default",
          then: "then users aren't exposed to the idea of steps until they create a new page, whereby they just add the new page as a step of the main flow or otherwise."
        }) }}
      {% endset %}

      {{ govukDetails({
        summaryText: "Hypotheses",
        html: hypothesesThreeHtml
      }) }}

      {{govukButton({ text: 'Open iteration 3', href: '/v3'})}}

      <h2 class="govuk-heading-l">Iteration 2</h2>
      <p class="govuk-body">Uses navigation from GOV.UK Pay and uses card layout for basic collections (forms, pages etc).</p>

      {% set hypothesesTwoHtml %}
        {{ appHypothesis({
          title: "Platform navigation",
          context: "The GOV.UK Design System and MOJ Design System have so far focused on citizen facing transactional sites and internal facing case working systems. As such the navigation might not be as appropriate for platforms like Form Builder.",
          if: "we use the header and navigation structures from platforms like GOV.UK Pay",
          then: "it will better fit the IA that Form Builder needs"
        }) }}

        {{ appHypothesis({
          title: "Group all page types together",
          context: "In the previous iteration, error pages (like 404 and 500 pages) were separated from standard pages which makes the primary nav longer and consisting of two similar items.",
          if: "we put error pages inside the pages section",
          then: "the navigation will be clearer and the error pages more easy to discover"
        }) }}

        {{ appHypothesis({
          title: "Add summary page",
          context: "Landing on the pages page assumes that all users who are working on the form want to edit pages when they could be looking for other things like metrics, global settings, and deployment-related information.",
          if: "we add a summary page",
          then: "we can surface the most pertinent information to all users regardless of the task they are looking to proceed"
        }) }}

        {{ appHypothesis({
          title: "Vertical page flow view",
          context: "Currently the flow view is shown horizontally causes users to scroll unconventionally",
          if: "we show the flow view vertically",
          then: "users can scroll conventionally down the page to see more of the pages"
        }) }}
      {% endset %}

      <!-- https://www.nngroup.com/articles/horizontal-scrolling/ -->

      {{ govukDetails({
        summaryText: "Hypotheses",
        html: hypothesesTwoHtml
      }) }}

      {{govukButton({ text: 'Open iteration 2', href: '/v2'})}}

      <h2 class="govuk-heading-l">Iteration 1</h2>
      <p class="govuk-body">Uses the MOJ Design System for as many components as possible. Includes modified identity bar.</p>

      {% set hypothesesOneHtml %}
        {{ appHypothesis({
          title: "Changing page types",
          context: "Currently, users are unable to change from single question to multi question pages. The workaround is to delete the page and start again.",
          if: "we let users change page types",
          then: "it will speed authors up"
        }) }}
      {% endset %}

      {{ govukDetails({
        summaryText: "Hypotheses",
        html: hypothesesOneHtml
      }) }}

      {{govukButton({ text: 'Open iteration 1', href: '/v1'})}}

    </div>
</div>

{% endblock %}


<!--If [some action]
Then [outcome for users]
We’ll know this works/is true when:
[Measurement]-->

<!--

https://fbdocs.herokuapp.com/

https://fb-user-guide-dev.apps.cloud-platform-live-0.k8s.integration.dsd.io/

-->